@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --muted: 0 0% 98.1%;
    --muted-foreground: 0 0% 45.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --border: 0 0% 89.8%;
    --input: 0 0% 82.8%;
    --primary: 243 100% 69%;
    --primary-foreground: 0 0% 100%;
    --secondary: 226 100% 97%;
    --secondary-foreground: 0 0% 9%;
    --accent: 226 100% 97%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 0% 98%;
    --ring: 243 100% 69%;
    --radius: 0.4rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 0 0% 10.9%;
    --foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --popover: 0 0% 14.9%;
    --popover-foreground: 0 0% 98%;
    --card: 0 0% 10.9%;
    --card-foreground: 0 0% 98%;
    --border: 0 0% 28.9%;
    --input: 0 0% 28.9%;
    --primary: 246.99 92% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 28.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 0 0% 28.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --ring: 243 100% 69%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    font-family: "Inter", system-ui, sans-serif;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.done {
  @apply bg-green-500/10 text-green-500;
}
.in-progress {
  @apply bg-orange-500/10 text-orange-500;
}
.todo {
  @apply bg-muted text-muted-foreground;
}
.done-text {
  @apply text-green-500;
}
.in-progress-text {
  @apply text-orange-500;
}
.todo-text {
  @apply text-muted-foreground;
}
.low {
  @apply text-primary;
}
.normal {
  @apply text-accent-foreground;
}
.medium {
  @apply text-orange-500;
}
.heigh {
  @apply text-red-500;
}
